{{#if showTabs}}
<nav class="sheet-tabs tabs" data-group="primary" data-part-id="tabs">
  {{#each tabs as |tab|}}
    <a class="item {{tab.cssClass}}" 
       data-tab="{{tab.id}}" 
       data-group="{{tab.group}}"
       data-action="changeTab">
      {{tab.label}}
    </a>
  {{/each}}
</nav>
{{else}}
<div data-part-id="tabs" style="display: none;"></div>
{{/if}}
