{{!-- templates/item/parts/item-header.hbs --}}
<header class="sheet-header">
  <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
  <div class="header-fields">
    <h1 class="charname">
      <input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'ZWOLF.ItemName'}}"/>
    </h1>
    <div class="item-subtitle">
      {{#if (eq itemType "fundament")}}{{localize 'ZWOLF.ItemTypeFundament'}}{{/if}}
      {{#if (eq itemType "knack")}}{{localize 'ZWOLF.ItemTypeKnack'}}{{/if}}
      {{#if (eq itemType "talent")}}{{localize 'ZWOLF.ItemTypeTalent'}}{{/if}}
      {{#if (eq itemType "ancestry")}}{{localize 'ZWOLF.ItemTypeAncestry'}}{{/if}}
      {{#if (eq itemType "track")}}{{localize 'ZWOLF.ItemTypeTrack'}}{{/if}}
      {{#if (eq itemType "equipment")}}{{localize 'ZWOLF.ItemTypeEquipment'}}{{/if}}
    </div>
    {{!-- Add this near your other header buttons --}}
{{#unless item.parent}}
  <button type="button" class="push-to-actors" data-tooltip="Update all Actor copies of this Item">
    <i class="fas fa-users"></i> Push to Actors
  </button>
{{/unless}}

{{#if item.parent}}
  {{#with (getSourceItem item)}}
    <span class="source-indicator" data-tooltip="Copy of world Item: {{this.name}}">
      <i class="fas fa-link"></i>
    </span>
  {{/with}}
{{/if}}
  </div>
</header>
