{{!-- templates/item/parts/item-formulae.hbs (fundament-specific) --}}
{{#if (eq itemType "fundament")}}
<div class="tab" data-group="primary" data-tab="formulae">
  <div class="formulae-section">
    <h3>{{localize 'ZWOLF.VitalityFunction'}}</h3>
    <div class="form-group">
      <label>{{localize 'ZWOLF.VitalityFormula'}}</label>
      <select name="system.vitalityFunction">
        <option value="standard" {{#if (or (eq system.vitalityFunction "standard") (not system.vitalityFunction))}}selected{{/if}}>
          {{localize 'ZWOLF.VitalityStandard'}}
        </option>
        <option value="hardy" {{#if (eq system.vitalityFunction "hardy")}}selected{{/if}}>
          {{localize 'ZWOLF.VitalityHardy'}}
        </option>
      </select>
      <p class="notes">{{localize 'ZWOLF.VitalityFunctionHint'}}</p>
    </div>

    <h3>{{localize 'ZWOLF.CoastFunction'}}</h3>
    <div class="form-group">
      <label>{{localize 'ZWOLF.CoastFormula'}}</label>
      <select name="system.coastFunction">
        <option value="standard" {{#if (or (eq system.coastFunction "standard") (not system.coastFunction))}}selected{{/if}}>
          {{localize 'ZWOLF.CoastStandard'}}
        </option>
        <option value="cunning" {{#if (eq system.coastFunction "cunning")}}selected{{/if}}>
          {{localize 'ZWOLF.CoastCunning'}}
        </option>
      </select>
      <p class="notes">{{localize 'ZWOLF.CoastFunctionHint'}}</p>
    </div>

    <div class="form-group">
      <h4>{{localize 'ZWOLF.TestFunctions'}}</h4>
      <div class="function-test-controls">
        <div>
          <label>{{localize 'ZWOLF.TestLevel'}}</label>
          <input type="number" id="test-level" value="3" min="1" max="20"/>
        </div>
        <div>
          <label>{{localize 'ZWOLF.VitalityBoostCount'}}</label>
          <input type="number" id="test-vitality-boost" value="0" min="0" max="10"/>
        </div>
        <button type="button" id="test-functions">{{localize 'ZWOLF.TestFunctions'}}</button>
      </div>
      <div id="function-test-results" class="test-results"></div>
    </div>
  </div>
</div>
{{else}}
<div class="hidden-part" style="display: none;"></div>
{{/if}}