<!-- Sheet Header -->
  <div class="sheet-header-wrapper">
    <header class="sheet-header">
      <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
      <div class="header-fields">
        <h1 class="charname">
          <input name="name" type="text" value="{{actor.name}}" placeholder="Character Name" />
        </h1>
        
        <!-- Second Line: Level, Size, Tags -->
        <div class="header-line-2">
          <div class="header-field level-field">
            <label>Level</label>
            <input type="number" name="system.level" value="{{system.level}}" min="0" max="20" />
          </div>
          <div class="header-field size-field">
            <div class="header-field size-field">
              <label>Size</label>
              <select name="system.size" value="{{system.size}}">
                {{#if ancestry.system.sizeOptions.length}}
                  {{#each ancestry.system.sizeOptions as |size|}}
                    <option value="{{size}}" {{#if (eq ../system.size size)}}selected{{/if}}>{{capitalize size}}</option>
                  {{/each}}
                {{else}}
                  <!-- Default to medium if no ancestry or no size options -->
                  <option value="medium" {{#if (eq system.size "medium")}}selected{{/if}}>Medium</option>
                {{/if}}
              </select>
              {{#if ancestry}}
                <div class="size-source" title="Size options from {{ancestry.name}}">
                  <i class="fas fa-info-circle"></i>
                </div>
              {{/if}}
            </div>
          </div>
          <div class="header-field tags-field">
            <label>Tags</label>
            <div class="tags-display">{{characterTags}}</div>
          </div>
        </div>
      </div>
    </header>

    <!-- Header Resources (Line 3) -->
    <div class="header-resources">
      <div class="resource">
        <label>VP</label>
        <div class="resource-values">
          <input type="number" name="system.vitalityPoints.value" value="{{system.vitalityPoints.value}}" />
          <span class="sep">/</span>
          <span class="max-value">{{calculatedValues.maxVitality}}</span>
        </div>
      </div>
      
      <div class="resource">
        <label>SP</label>
        <div class="resource-values">
          <input type="number" name="system.staminaPoints.value" value="{{system.staminaPoints.value}}" />
          <span class="sep">/</span>
          <span class="max-value">{{system.staminaPoints.max}}</span>
        </div>
      </div>
      
      {{#if (eq actor.type "pc")}}
      <div class="resource karma-resource">
        <label>KP</label>
        <div class="resource-values">
          <input type="number" name="system.karmaPoints.value" value="{{system.karmaPoints.value}}" />
          <span class="sep">/</span>
          <span class="max-value">{{system.karmaPoints.max}}</span>
        </div>
      </div>
      {{/if}}
      
      <div class="resource coast-number">
        <label>CN</label>
        <div class="resource-value-single">
          <span class="calculated-value">{{calculatedValues.coastNumber}}</span>
        </div>
      </div>
      
      {{#unless sideEffects.speedProgression}}
      <div class="resource speed-resource">
        <label>Speed</label>
        <div class="resource-value-single">
          <!-- Speed is default (+0) - show with rollable dice icon -->
          <div class="speed-with-roll">
            <span class="static-value">+0</span>
            <i class="fas fa-dice-d12 speed-roll-die" 
              data-modifier="0" 
              data-flavor="Speed Check"
              title="Roll Speed Check (+0)"></i>
          </div>
        </div>
      </div>
      {{/unless}}

      <!-- Rest Buttons -->
      <div class="resource rest-buttons">
        <div class="rest-button-stack">
          <button type="button" class="rest-button short-rest-btn" title="Short Rest: -1 SP, restore VP to max, gain Suffused">
            <i class="fas fa-moon"></i>
            <span class="rest-label">Short Rest</span>
          </button>
          <button type="button" class="rest-button extended-rest-btn" title="Extended Rest: restore SP & VP to max, gain Suffused, remove Bruised, reminder to roll Fortitude">
            <i class="fas fa-bed"></i>
            <span class="rest-label">Extended Rest</span>
          </button>
        </div>
      </div>
    </div>

    <!-- Fourth Line: Target Numbers -->
    <div class="header-tns">
      <div class="tn-group tn-group-primary">
        <div class="tn-item">
          <label>Toughness TN</label>
          <div class="tn-value">{{tns.toughness}}</div>
        </div>
        
        <div class="tn-item">
          <label>Destiny TN</label>
          <div class="tn-value">{{tns.destiny}}</div>
        </div>
      </div>
      
      <div class="tn-divider"></div>
      
      <div class="tn-group tn-group-secondary">
        <div class="tn-item">
          <label>Improvised TN</label>
          <div class="tn-value">{{tns.improvised}}</div>
        </div>
        
        <div class="tn-item">
          <label>Healing TN</label>
          <div class="tn-value">{{tns.healing}}</div>
        </div>
        
        <div class="tn-item">
          <label>Challenge TN</label>
          <div class="tn-value">{{tns.challenge}}</div>
        </div>
      </div>
    </div>
  </div>
  